<h1>Chat</h1>
<hr />
<div id="app-mensajes" class="app-mensajes">
  <div class="text-right"
    [ngClass]="{'text-right': chatService.usuario.uid == chat.uid}"
    *ngFor="let chat of chatService.chats">
    <span class="badge"
      [ngClass]="{'badge-primary': chatService.usuario.uid == chat.uid,
      'badge-success': chatService.usuario.uid != chat.uid}">
      {{this.chatService.usuario.nombre}}</span>
    <p>
      {{ chat.mensaje }}
    </p>
  </div>
  <!-- <div class="text-right">
    <span class="badge badge-dark">Batman</span>
    <p>
      Este es un mensaje
    </p>
  </div>
  <div class="">
    <span class="badge badge-light">Oráculo</span>
    <p>
      Este es un mensaje
    </p>
  </div>
</div> -->
</div>
<input
  type="text"
  name="mensaje"
  class="form-control"
  [(ngModel)]="mensaje"
  placeholder="Enviar mensaje..."
  (keyup.enter)="enviarMensaje()"
  />
